{% extends "base.html" %}

{% block title %}
    CV List
{% endblock %}

{% block content %}
    <header>
        {% include "includes/navbar.html" with home_btn_title=home_btn_title %}
    </header>
    <div class="container mt-5">
        <h1>{{ title }}</h1>
        <div class="table-responsive">
            <table class="table table-striped overflow-auto">
                <thead>
                <tr>
                    <th>{{ column_one_title }}</th>
                    <th>{{ column_two_title }}</th>
                    <th>{{ column_three_title }}</th>
                </tr>
                </thead>
                <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.timestamp }}</td>
                        <td>{{ log.method }}</td>
                        <td>{{ log.path }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
