{% extends "base.html" %}

{% block content %}
    <div class="d-flex{% if form.errors or not user.is_authenticated %} flex-column{% endif %} justify-content-center align-items-center vh-100">
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <h1>Login</h1>

        <form class="d-flex flex-column gap-2" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td class="ml-5">{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <input class="btn btn-dark btn-sm" type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>

{% endblock %}