{% extends "base.html" %}

{% block title %}
    {{ tab_title }}
{% endblock %}

{% block content %}
    {% if request %}
        <header>
            {% include "includes/navbar.html" with home_btn_title=home_btn_title audit_logs_url=audit_logs_url %}
        </header>
    {% endif %}
    <section id="cv-detail">
        <div class="container{% if request %} mt-5{% endif %}">
            {% if request %}
                <div class="text-right mb-4">
                    <a href="{% url 'cv_generate_pdf' candidate.id %}" class="btn btn-primary" target="_blank">
                        {{ download_btn_title }}
                    </a>
                </div>
            {% endif %}
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <h2>{{ candidate.first_name }} {{ candidate.last_name }}</h2>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ bio_title }}</h4>
                    {% if bio %}
                        <p class="card-text">{{ bio }}</p>
                    {% else %}
                        <p class="card-text">{{ no_bio_message }}</p>
                    {% endif %}
                    <hr class="my-4">
                    <h5 class="card-title">{{ skills_title }}</h5>
                    <div class="d-flex align-items-center justify-content-start flex-wrap gap-2">
                        {% if skills %}
                            {% for skill in skills %}
                                <span class="badge {{ skill.class }} card-text">{{ skill.skill_name }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="card-text">{{ no_skills_message }}</span>
                        {% endif %}
                    </div>
                    <hr class="my-4">
                    <h5 class="card-title">{{ projects_title }}</h5>
                    {% if projects %}
                        {% for project in projects %}
                            <p class="card-text"><b>{{ project.project_name }}</b></p>
                            <p class="card-text">{{ project.project_description }}</p>
                        {% endfor %}
                    {% else %}
                        <p class="card-text">{{ no_projects_message }}</p>
                    {% endif %}
                    <hr class="my-4">
                    <h5 class="card-title">{{ contacts_title }}</h5>
                    {% if contacts %}
                        {% for contact in contacts %}
                            <span class="card-text">{{ contact.contact_type.contact_type }}: </span>
                            {% if contact.contact_type.contact_type == "Email" %}
                                <a href="mailto:{{ contact.contact }}" class="card-text">{{ contact.contact }}</a>
                            {% elif contact.contact_type.contact_type == "Phone" %}
                                <a href="tel:{{ contact.contact }}" class="card-text">{{ contact.contact }}</a>
                            {% elif contact.contact_type.contact_type == "Profile" %}
                                <a href="{{ contact.contact }}" class="card-text"
                                   target="_blank">{{ contact.contact }}</a>
                            {% else %}
                                <p class="card-text">{{ contact.contact }}</p>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p class="card-text">{{ no_contacts_message }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}