{% extends "base.html" %}

{% block title %}
    CV List
{% endblock %}

{% block content %}
    <header>
        {% include "includes/navbar.html" %}
    </header>
    <section id="cv-list">
        <div class="container-lg mt-5">
            <div>
                <h3>
                    CV List<br/>
                    <small class="text-body-secondary">pick a CV from the list below</small>
                </h3>
                {% if candidates %}
                    <ul class="list-group">
                        {% for candidate in candidates %}
                            <li class="list-group-item list-group-item-action">
                                <a class="text-dark nav-link" href="{% url 'cv_detail' candidate.id %}">
                                    {{ candidate.first_name }} {{ candidate.last_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No candidates information available.</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
