{% extends "base.html" %}

{% block title %}
{{ tab_title }}
{% endblock %}

{% block content %}
    <header>
        {% include "includes/navbar.html" with audit_logs_url=audit_logs_url %}
    </header>
    <section id="cv-list">
        <div class="container-lg mt-5">
            <div>
                <h3>
                    {{ title }}<br/>
                    <small class="text-body-secondary">{{ hint }}</small>
                </h3>
                {% if candidates %}
                    <ul class="list-group">
                        {% for candidate in candidates %}
                            <li class="list-group-item list-group-item-action">
                                <a class="text-dark nav-link" href="{% url 'cv_detail' candidate.id %}">
                                    {{ candidate.first_name }} {{ candidate.last_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ no_candidates_message }}</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
