<form method="POST" id="send-cv-email-form" action="{% url 'send_cv_to_email' candidate.id %}">
    {% csrf_token %}
    <div class="form-group d-flex flex-wrap justify-content-between gap-2">
        <input type="hidden" name="language" value="{{ selected_language }}">
        <label>
            <input type="email" name="email" id="email" placeholder="Enter email" required class="form-control d-inline"
                   style="width: auto; display: inline-block;">
        </label>
        <button
                type="submit"
                id="submit-email-btn"
                class="btn btn-primary btn-fixed-width btn-no-uppercase"
        >
            <span
                    id="email-spinner"
                    class="spinner-border spinner-border-sm me-2"
                    role="status"
                    aria-hidden="true"
                    style="display: none;"
            ></span>
            {{ email_submit_btn_title|default:"Send PDF" }}
        </button>
    </div>
</form>
